body {
  background-color: beige;
  margin: 0;
  padding: 0;
}

.titulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
a {
  color: #120a8f;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid #b8cad4;
  border-radius: 9px;
  transition: color 0.3 ease;
}

a:hover {
  color: #b8cad4;
  text-decoration: underline;
  cursor: pointer;
}
label {
  color: #120a8f;
}

form {
  background-color: pink;
  padding: 15px;
  border-radius: 5px;
  border-radius: 9px;
}

button {
  display: block;
  margin: 20px auto 0 auto;
}

button {
  background-color: #120a8f;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0 auto;
}

button:hover {
  background-color: #098cd3;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px 20px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: 2px solid #120a8f;
  border-radius: 7px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3 ease;
  background-color: white;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border: rgb(169, 50, 70);
  box-shadow: 0 0 8px pink;
}

.titulo {
  color: #120a8f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px pink;
}

table {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #120a8f;
  padding: 12px 15px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #120a8f;
}

th {
  background-color: pink;
  font-weight: bold;
  text-transform: uppercase;
}

th:hover {
  background-color: rgb(180, 49, 71);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.links {
  background-color: pink;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 30px auto;
  list-style-type: none;
}

.links ul {
  padding: 0;
  margin: 0;
}

.links li {
  margin-bottom: 15px;
}

.links a {
  display: block;
  text-decoration: none;
  color: #120a8f;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 9px;
  background-color: pink;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3 ease color 0.3 ease;
}

.links a:hover {
  background-color: #120a8f;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
}
